div,
div a {
  font-size: 13px;
  text-shadow: 1px 1px 1px #588157;
  text-align: center;
}

fa-icon:hover,
.href:hover {
  color: #588157;
  text-shadow: 1px 1px 1px #ddec05;
}

.row {
  height: 1.5em;
}
