.btn {
  background: #a3b18a;
}

.titulo {
  color: #3a5a40;
}

.guardar:hover {
  background: green;
}

.guardar[disabled]:hover{
  background: #A3B18A;
  opacity: .65;
}

.eliminar:hover {
  background: red;
}

.letra, select {
  color: #588157;
}
