header {
  margin-top: 10px;
}

.logueado {
  color:darkgrey;
}

.identificar:hover {
  background: green;
}

.identificar[disabled]:hover {
  background-color: #3A5A40;
}

.cerrar:hover {
  background: red;
}