.formulario-armas {
  color: #3a5a40;
  font-weight: bold;
  text-shadow: 1px 1px 1px #a3b18a;
  background-color: #dad7cd;
}

.titulo {
  color: #588157;
  font-size: 13px;
  text-align: center;
}

.titulo:hover {
  padding: 10px;
  background-color: blanchedalmond;
}

.btn {
  background: #588157;
  padding: 0.5;
  font-size: 14px;
}

a.ver-grafica {
  font-size: small;
}

a.ver-grafica:hover {
  color: aquamarine;
  font-weight: bold;
  text-shadow: 10px 10px 20px yellowgreen;
}
